#services {
  min-height: auto;
  
  background-color: #101014;
}

.textContainerServices {
  display: flex;
  p {
    max-width: 450px;
  }
}

.cardContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.ico, .ico2 img{
  margin-bottom: 0.875rem;
  border-radius: 4px;
}

.image {
  color: #333;
}

.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  
  height: 48rem;
  width: 35rem;
  margin-top: 4.4rem;
  border-radius: 4px;
  
  background-color: transparent;
  border: 1px solid #333;
  transition: ease 0.2s;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    transform: translateY(-12px);
  }
}

.servicesText {
  padding-left: 2rem;
  
  h3 {
    margin-top: 1rem;
    font-size: 2.2rem;
    color: var(--white);
  }

  p {
    margin-right: 1rem;
    margin-top: 2rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    color: var(--gray-light);
  }
}

.more {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .cardContainer {
      flex-direction: column;
      margin: 0;
      margin-bottom: 0;
  }

  .servicesCard {
      align-items: center;
      justify-content: center;
  }

  .textContainerServices {
    justify-content: center;
  }

  .textTitles {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .cardContainer {
    flex-direction: column;
    margin: 0;
    margin-bottom: 0;
  }

  .servicesCard {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 575.98px){
  .servicesCard {
      height: auto;
  }

  .textContainerServices {
    justify-content: center;
  }

  .servicesText p {
      line-height: 2rem;
  }
}