.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #101014;
  background-image: url("../../../public/images/background.png");
  background-attachment: fixed;
  background-size: cover;
}