.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

#home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../../../public/images/main.svg");
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--black);
}

.home {
  display: flex;
  gap: 12rem;
}
